em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  /* background-image: linear-gradient(to right, #8e43e7, #00aeff); */
  background-color: #8e43e7;
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ext-link {
  margin-left: 0.3rem;
}
